In [1]:
import mysql.connector as msql
from mysql.connector import Error
import pandas as pd
from sqlalchemy import create_engine
import re

In [2]:
try:
    conn = msql.connect(host='3.110.5.152',port='3306', user='dbuser',  
                        password='fk5%Ht3=OSwx',auth_plugin='mysql_native_password')
    if conn.is_connected():
        cursor = conn.cursor()
        print("Database is created")
except Error as e:
        print("Error while connecting to MySQL", e)

Database is created

In [3]:
sql_query = "select * from mktg_source.dec2021;"
df = pd.read_sql(sql_query,conn)

In [6]:
conn.close()

In [4]:
df

,Name,Email,Mobile Number,Qualification,Year of Passing,Gender,Stream,City,State,Role,Total Exp,Database Date,Source,Source Details,Source Code,Funnel,Daily Datewise Data
0,Mallikarjun,mallikarjunrammanthale@gmail.com,919591977617,B.Tech/B.E,2020.0,None,None,Hyderabad,None,None,None,2021/12/01 00:00:00.000,Naukri Crystal,None,None,None,30th Nov to 1st Dec
1,E Srinivas,srinu777sardar@gmail.com,916304918491,B.Tech/B.E,2019.0,None,None,Hyderabad,None,None,None,2021/12/01 00:00:00.000,Naukri Crystal,None,None,None,None
2,Dharani Thouda,dharanithouda@gmail.com,917989358531,B.Tech/B.E,2020.0,None,None,Hyderabad,None,None,None,2021/12/01 00:00:00.000,Naukri Crystal,None,None,None,None
3,Mohammad Zeeshan Ali Ahmed,zeeshanaliahmed95@gmail.com,919493894710,B.Tech/B.E,2021.0,None,None,Hyderabad,None,None,None,2021/12/01 00:00:00.000,Naukri Crystal,None,None,None,None
4,N Sukendar,sukkusukendarr@gmail.com,919885463335,B.Tech/B.E,2018.0,None,None,Hyderabad,None,None,None,2021/12/01 00:00:00.000,Naukri Crystal,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46281,Chennuru Prudhvi Raj,prudhvirajchennuru5@gmail.com,919550939463,B.Tech/B.E,2018.0,None,None,Vishakhapatnam,None,None,None,2021/12/23 00:00:00.000,Naukri Crystal,None,None,None,None
46282,Ayaz Baig mohammed,ayazbaigmd3@gmail.com,917981813827,B.Tech/B.E,2021.0,None,None,Guntur,None,None,None,2021/12/23 00:00:00.000,Naukri Crystal,None,None,None,None
46283,Anumala setty Anjan,anjan.anumalasetty@gmail.com,918897224145,B.Tech/B.E,2018.0,None,None,Vijayawada,None,None,None,2021/12/23 00:00:00.000,Naukri Crystal,None,None,None,None
46284,Sai Nikhitendra Kunar,nikithendra123@gmail.com,918374093625,B.Tech/B.E,2019.0,None,None,Anantpur,None,None,None,2021/12/23 00:00:00.000,Naukri Crystal,None,None,None,None
46285,Tunuguntla Chandhini,tunuguntlachandhini@gmail.com,917337546891,B.Tech/B.E,2020.0,None,None,Vijayawada,None,None,None,2021/12/23 00:00:00.000,Naukri Crystal,None,None,None,None

In [5]:
df.isna().sum()

Name                     125
Email                      0
Mobile Number            174
Qualification              0
Year of Passing            0
Gender                 46286
Stream                 46286
City                       1
State                  46286
Role                   18517
Total Exp              18517
Database Date              0
Source                     0
Source Details         45846
Source Code            46286
Funnel                 46286
Daily Datewise Data    46268
dtype: int64

In [314]:
def remove_plus(phone):
    if phone is None:
        return None
    phone=phone.replace(" ","")
    
    if phone is not None:
        return phone.replace('+', '')
df['Mobile Number'] = df['Mobile Number'].apply(remove_plus)

In [315]:
df.isna().sum()

Daily Datewise Data    101869
Name                        5
Email                       5
Mobile Number               0
Qualification              20
Gender                  43788
Stream                  43449
Year of Passing            17
college                 43455
% in IT                101904
City                     5007
State                   99945
Role                    97897
Total Exp                  20
Date                        0
Source                      0
dtype: int64

In [316]:
df

,Daily Datewise Data,Name,Email,Mobile Number,Qualification,Gender,Stream,Year of Passing,college,% in IT,City,State,Role,Total Exp,Date,Source
0,2nd Sep,AKASH KUMAR,ak9149031@gmail.com,917388784014,B.Tech/B.E,Male,IT-Software,2022,U . P . BOARD,None,Gurugram,None,None,0 Yr 0 Month,2nd Sep 2022,Shine
1,None,Kuchipudi,18a81a05e4@sves.org.in,919381533159,B.Tech/B.E,Female,Computers,2022,Vasavi,None,West Godavari,None,None,0 Yr 0 Month,2nd Sep 2022,Shine
2,None,vignesh mehala,vigneshmehala14@gmail.com,919344057826,B.Tech/B.E,Male,IT-Software,2022,anna university,None,Chennai,None,None,0 Yr 0 Month,2nd Sep 2022,Shine
3,None,Saritha sari,sarithanenavath16@gmail.com,919603274917,B.Tech/B.E,Female,Computers,2022,"brilliant group of institutions, ranga reddy",None,Hyderabad,None,None,0 Yr 0 Month,2nd Sep 2022,Shine
4,None,Prashant Srivastava,prashantsrivastava302000@gmail.com,916387965775,B.Tech/B.E,Male,Electronics/Telecommunication,2022,"punjab technical university, jalandhar",None,Noida,None,None,0 Yr 0 Month,2nd Sep 2022,Shine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101899,None,Shyamala M,shyamalam07@gmail.com,919686994110,B.Tech/B.E,Female,Computers,2020,South east asian engineering and technology,None,Silvassa,None,None,0 Yr 0 Month,28th Sep 2022,Shine
101900,None,Jery,hariharanc81@gmail.com,919840224965,B.Tech/B.E,Male,IT-Software,2021,"dr mgr engineering college, chennai",None,Anantpur,None,None,0 Yr 0 Month,28th Sep 2022,Shine
101901,None,Hadpad Basavraj Siddharam,rajhadpad1999@gmail.com,918446988486,B.Tech/B.E,Male,Mechanical,2020,Dy patil college of engineering and innovation...,None,Pune,None,None,0 Yr 0 Month,28th Sep 2022,Shine
101902,None,Sandesh Sahebrao Kale,sandeshkale2597@gmail.com,918208192012,B.Tech/B.E,Male,Mechanical,2021,RMD SINHGAD TECHNICAL INSTITUTES CAMPUS WARJE ...,None,Pune,None,None,0 Yr 0 Month,28th Sep 2022,Shine
101903,SCH 12-12-2022,Muthukumar P,muthukumars883@gmail.com,919659691627,B.Tech/B.E,Male,IT-Software,2020,"muthayammal engineering college, rasipuram",None,Erode,None,None,0 Yr 0 Month,28th Sep 2022,Shine

In [317]:
IndMob_Ptrn="^(\+91[\-\s]?)?[0]?(91)?[6-9]\d{9}$"
def gt_len(phone):
    if phone is None:
        return None
    phone_list = phone.split(',')
    for number in phone_list:
        if bool(re.match(IndMob_Ptrn, number)):
            return '91'+number[-10:]
    return None        
df['Mobile Number'] = df['Mobile Number'].apply(gt_len)

In [318]:
df.isna().sum()

Daily Datewise Data    101869
Name                        5
Email                       5
Mobile Number            2404
Qualification              20
Gender                  43788
Stream                  43449
Year of Passing            17
college                 43455
% in IT                101904
City                     5007
State                   99945
Role                    97897
Total Exp                  20
Date                        0
Source                      0
dtype: int64

In [319]:
engine = create_engine('mysql+pymysql://db_user:fk5%Ht3=OSwx@3.110.5.152:3306/mktg_source')
conn1 = conn.connect()
df.to_sql(name='sep2022', con=engine, if_exists='replace', index=False)
conn.close()
engine.dispose()

In [12]:
#df.to_sql(name='mktg_database.exam2022', con=engine, if_exists='replace', index=False)

In [31]:
#engine.dispose()

In [32]:
#engine

Engine(mysql+pymysql://root:***@localhost:3306/mktg_database)